@use './reset.scss';

/* Add your css here */

//variables
$black:#333;
$pale: #d2e1dd;
$pink:#c69;
$blue:#036;
$font-size:14px;
$margin-left:10%;

//mixins



//styles
 /*body{
     background-color: $pale;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color:red;
     font-size:14px;
     padding:0px;
    } 
*/
html{
    padding:0px;
    margin:0px;
}

.h-container{
    width:100%;
    height:auto;
    
    overflow:hidden;
    img{
        height:2rem;
        width:2rem;
    }
    p{
        padding:5px;
        margin-left: 20px;
    }
    ul{
    
        list-style-type: none;
        
        li{
            display: inline-block;
            padding:7px;
        }
    }
    a{
        color:black;
        font: weight 100;
    }
    .right-side{
        #app{
        padding-left:40%;
        text-align:center;
        }
    }
    .left-side{
        display:flex;
        justify-items: center;
        align-items: center;
        text-align:center;
    }                
    
}
body{
    padding:0px;
    margin:0px;
}
   


.banner{
height: 65vh;
width:100%;
margin:0px;
padding:0px;   
 background-image: url(../sass/bg.jpg);
    //background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5), url('../sass/bg.jpg'));
background-size: cover;
background-repeat: no-repeat;
    
align-items: center;
justify-content: center;

}

.b-left{
    float:right;
    padding:20px;
    #login{
        color:white;
        padding:18px;
        font-weight:bold;
    }
}

.logoimg{

    margin-top:60px;
    height:110px;
    width:100px;
}
.logo-subtitle{
    color:white;
    text-shadow: honeydew;
    text-align:center;
    margin-bottom:25px;
}
/*#dropdownMenuLink{
    background-color: white;
    color:black;
    width:150px;
    font-size:0.9rem;
    
    
    height:40px;
}
.select{
    margin-left: 25%;
    margin-top:10%;
}*/
/*.searchboxx{

    //@extend:35%;
    //border-radius:5px;
    //height:40px;
    margin-left:$margin-left;
    margin-right:$margin-left;
}*/
.main{
    background-color:whitesmoke;
 
}
.s1{
    margin-left:40%;
    background-color:white;
}
.searchboxx{
    width:71%;
}
.s1.s3{
    padding:5px;
}    
.search-restaurant{
    
    align-items: center;

}
#search-rest{
   width:35%;
}
.row1{
    padding-top:20px;
    height:40vh;
    width:90%;
    
    background-image:url(images/ad-zomaland.jpg);
    background-size:cover;
    
}
.advt{
    margin-left:$margin-left;
    width:750px;
    height:40vh;
    padding-bottom:10px;
    padding-top:40px;
}
.collection{
    margin-left:$margin-left;
    padding-bottom:10px;
    padding-top:17px;
}
/*.main-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;

}*/


/*.grid-container{
    display:inline-grid;
    grid-template-columns: 1fr 1fr;
    margin-left:10%;
    grid-gap:5px;
    background-color: yellowgreen;
}*/


  
.container{
    margin: 10px;
    //margin-left: $margin-left;
    width:750px;
    height:350px;
   //background-color:orange;
    display:grid;
    grid-template-columns: 350px 350px;
    grid-row: 100px 100px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left:$margin-left;
    .box{
      
      padding:5px;
      border-radius:10px;
      color:black;
      height:100px;
      width:350px;
      /*align-items:center;
      justify-content:center;*/
      font-size:1.5rem;
      font-family:sans-serif;
      .card-img{
          height:120px;
          width:120px;
        }
        .card-body{
            font-family: Arial, Helvetica, sans-serif;
            h5
            {
            font-size:1rem;
            font-weight:bold;
            text-align:centre;

            }
            p{
                font-size:0.9rem;
                text-align:centre;

            }
        }
    }
  
}

#widget-online{
    margin-left:40px;
    padding-top:40px;
}
#sub-widget{
    margin-left:40px;
    color:grey;
}
  
.alert{
    p{
        color:rgb(173, 8, 8);
        font-size:1rem;
        text-align:center;
    }
    margin-left:10%;
    border:solid 1px grey;
    height:7vh;
    width:740px;
}  

.orderr{
    width:375px;
    height:50vh;
    background-color:white;
    margin-left: $margin-left;
    h4{
        text-align: center;
        padding-bottom:10px;
        padding-top:10px;
    }
}
.search{
    width:70%;
    border-radius:8px;
}

.horizontal-line{
    height:1px;
    width:80%;
    background-color:grey;
    margin-top:9px;
    margin-bottom:9px;
    margin-left:10%;
}
.offer{
    display:flex;
    text-align: center;
    align-items:center;
    justify-content:center;
    color:green;
    padding-left:10px;
    padding-right:10px;
}
.categories{
    
    h2{ 
        margin-left:10px;
    }
    ul{
        li{
            display:inline-block;
            padding:5px;
        }
     }
}
.category-list{
    
    height:22vh;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    background-color:white;
    border:solid black;
    align-items: center;
    overflow:hidden;
    
}

.category-list{
    display:flex;
    justify-items: center;
    align-items: center;
    text-align:center;
    li{
        padding-left: 180px;
        justify-items: center;
        align-items: center;
        text-align:center;
        img{
            height:3.5rem;
            width:3.5rem;
            margin-left:50px;
            padding-right:15px;
        }
    }
    figcaption{
        margin-left:15px;
        font-size:0.9rem;
    }
}
#cat-title{
   margin-left:10%; 
}
#cat-subtitle{
    margin-left: $margin-left;
}

.city-list{
   margin-left:10%;
    background-color:white;
    margin-right:10%;
    padding:7px;
    ul{
        list-style-type: none;
    }
}

.history{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    color:grey;
    margin-left:14%;
    margin-top:10px;
}


.form{
    width: 80%;
    height:60vh;
    background-color:white;
    margin-left: $margin-left;
    margin-right:$margin-left;
    margin-top:40px;
    margin-bottom:40px;
    h4{
        padding-top:40px;
    }
    p{
        color:grey;
        font-size:1rem;
    }
    .iphone{
        width: 90%;
        height:60vh;
        padding:12px;
        overflow:hidden;
        margin-left:$margin-left ;
    }
    .number{
        width:80%;
    }
    
    .email{
        width:80%;
    }
    .playstore{
        width:200px;
        height:10vh;
        padding:10px;
    }
    .email{
        width:50%;
    }
}
.inline{
    list-style-type: none;
    display: inline;
}
/*.search-del{
    width:60%;
}*/


.footer-wrapper{
    
    background-color: #333;
    color: white;
    h5{
        font-size:bold;
        color:grey;
    }
    ul{
      list-style-type: none; 
      a{color:white; 
        }
    }
}


#dropdownMenuButton{
    float:right;
    margin:10px 20px 8px 8px;
    margin-right: $margin-left;
    
}
.foot1{
    margin-left: $margin-left;
}

#zom-img{
    width:75px;
    height:20vh;
    margin-left: $margin-left;
}
.foot20{
    margin-left:$margin-left;
}
.foot21{
    margin-left:$margin-left;
}



#loc-title{
    margin-left:10%; 
 }
#loc-subtitle{
     margin-left: $margin-left;
     color:grey;
 }

.qsearch{
    background-color: white;
}
.body{
    background-color:#808080;
}
.bottom-row{
    
    
    li{
        list-style-position: none;
        display:inline;
        //margin-left:10%;
        a{
            padding:5px;
        }
    }
}
.icons{
    
    i{
      
       padding-left:20px;
    }
}




//MEDIA QUERIES

@media (min-width: 576px) and (max-width: 767.98px) { 
    .banner{
        display:block;
    }
    
    
    .left-side{
        display:block;
    }
    .right-side{
        display:block;
        padding:auto;
        margin:auto;
    }
    //for login button
   .b-left{
       display:block;
    }
    //SEARCH BAR.DROPDOWN,BUTTON
   .search-restaurant{
       display:block;
    }
    .form-control{
        display:block;
    }
    .btn-danger{
        display:block;
    }

    //GRID

    .box{
        display:block;
    }
    //ORDER ONLINE WIDGET
    .widget{
        display:block;
        margin:auto;
    }
    //CATEGORIES
    .categories{
        display:block;
        margin:auto;
    }
    .category-list{
        display:block;
    }
    //CITY-LIST
    .localities{
        display:block;
        margin:auto;
        padding:auto;
    }
    .cities{display:block;}
    .loc-box{
        display:block;
    }
    .col-4{
        display:block;
    
    }
    .col{
        display:block;
    }
}  
    
